@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    background: #1d1a21;
}

.wrapper {
    width: 80%;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", sans-serif;
    height: 150px;
}

nav .logo {
    display: flex;
    align-items: center;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fe2f00;
}

nav .btn {
    border: 3px solid #fff;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.3s ease-in;
}

nav .btn:hover {
    background: #fe2f00;
    color: #fff;
    border: 3px solid #fe2f00;
}

nav .mobile_menu_btn i {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

#click {
    display: none;
}

.landing {
    width: 100%;
    min-height: 100vh;
    background: url('image/coffee_image.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .coffee_text {
    color: #fff;
}

.container .coffee_text span {
    font-size: 35px;
    font-weight: 900;
    color: #d17721;
}

.container .coffee_text h3 {
    font-size: 30px;
}

.container p {
    font-size: 18px;
    margin: 2rem 0;
}

.container button {
    padding: 8px 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: #fff;
    color: #fe2f00;
    margin: 1rem 0;
}

.container button.primary_btn {
    background-color: #d17721;
    color: #fff;
    margin-right: 1rem;
}

footer {
    background-color: #1d1a21;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer .wrapper {
    width: 80%;
    margin: auto;
}

